* {
    box-sizing: border-box;
}
.content {
    background: blue;
    width: 45%;
    height: 35%;
    margin: auto;
    padding: 3px;
    margin-top: 1px;
    color: #ffffff;
    
}
@media (max-width: 1502px){
    .content{
        width:720px;
        height:auto;
        
    }
}