* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    background-color: #ffffff;
    margin: 0;
}
header {
    background: #2eb752;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    width: 100%;
    height: 3%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    font-family:'Courier New', Courier, monospace;
}

footer {
    background-color:  #2eb752;
    color: white;
    padding: 5px;
    text-align: center;
    width: 100%;
    height: 2%;
    bottom: 0;
    display: flex;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.content {
    background: blue;
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    color: #ffffff;
    
}
.rounded-square {
    padding: 5px;
    width: 150px;
    height: 150px;
    background-color: transparent;
    border: 10px solid #ffffff;
    border-radius: 13% 0 13% 0; 
    font-size: 18px;
    margin: 1%;
    margin-right: 3%;
    margin-bottom: 15px;
    float: left;
    
}
.content-h1 {
    margin-top: 20px;
    color: #ffffff; 
    font-family: Arial, Helvetica, sans-serif;
    
}

.link {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

a{
    color: red;
}

.word{
    color: red;;
}

.list ul {
    margin: 5px 7px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.list ul>li:nth-child(2) {
    color: rgb(16, 234, 234);
    letter-spacing: 5px;
}

li {
    margin: 8px;
}

aside {
    width: 30%;
    float: right;
    display: flex;
    flex-direction: column;
}

aside img {
    margin-top: 10px;
    align-self: flex-end;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    border: 3px double rgba(255, 255, 255, 0.5);
    padding: 7px;
    text-align: center;
    align-content: end;
}

.grid-item:first-child {
    grid-row-start: 1; 
    grid-row-end: 3; 
    background: rgb(9, 210, 9);
}

.grid-item:last-child {
    grid-column-start: 2; 
    grid-column-end: 4; 
    background-color: rgb(255, 0, 0);
}
