* {
    box-sizing: border-box;
}
.content {
    display: flex;
    margin: auto;
    padding:auto;
}
.box{
    width: 30%;
    margin: auto;
    font-size: 15px;
    color: black;

}
.bluebordbox{
    width: 150px;
    height: 150px;
    background-color: transparent;
    border: 10px solid #3400f2;
    border-radius: 0 0 0 0 ;
    width: 30%;
    height: auto;
    margin: auto;
    padding: 30px;
    margin-top: 2px;
    color: black;
    font-size: 15px;
    padding-left: 40px;
    padding-right: 40px;
}