* {
    box-sizing: border-box;
}

body {
    margin-top: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.main-frame {
    width: 100%;
    max-width: 100%;
    height: 300px;
    background-color: turquoise;
    border: 3px solid forestgreen;
    margin: 10px auto;
    display: flex;
    padding: 0px;
}

.left-frame {
    width: 25%;
    background-color: bisque;
    padding: 5px;
    overflow-y: auto;
    height: 35%;
    font-family: 'Times New Roman', Times, serif;
    
}

.right-frame {
    width: 74%;
    background-color: lightgray;
    padding: auto;
    overflow-y: auto;
    margin-left: 5px;
}

.right-frame p {
    margin: 0;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
@media (max-width: 768px) {
    .main-frame {
        flex-direction: column;
        height: auto;
    }

    .left-frame {
        width: 20%;
        min-width: 150px;
    }

    .right-frame {
        margin-top: 0;
        margin-left: 0;
        width: 60%;
        min-width: 420px;
    }
}
   
